<div class="container-fluid">
    <div class="row">
        <div class=" col-xs-12 col-md-6 col-md-offset-3 text-muted">
            <div class="header-content text-center">
                <div class="header-content-inner">
                    <h1>Helping Matt and Audrey find an apartment since 2017.
                    </h1>
                    <% if user_signed_in? %>
                    <a href="<%= apartments_path %>" class="btn btn-outline btn-xl">Get started!</a>
                <% else %>
                    <a href="<%= new_user_session_path %>" class="btn btn-outline btn-xl">Sign In or Register</a>
                    <% end %>
                </div>
            </div>
        </div>
        
    </div>
</div>