$animation-time: 0.3;

#masonry-container {
    background: #FFF;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    .box{
      background:transparent;
    }
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.col1 {
    width: 80px;
}

.col2 {
    width: 180px;
}

.col3 {
    width: 280px;
}

.col4 {
    width: 380px;
}

.col5 {
    width: 480px;
}

.col1 img {
    max-width: 80px;
}

.col2 img {
    max-width: 180px;
}

.col3 img {
    max-width: 280px;
}

.col4 img {
    max-width: 380px;
}

.col5 img {
    max-width: 480px;
}

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: #{$animation-time}s;
     -moz-transition-duration: #{$animation-time}s;
      -ms-transition-duration: #{$animation-time}s;
       -o-transition-duration: #{$animation-time}s;
          transition-duration: #{$animation-time}s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: #{$animation-time}s;
     -moz-transition-duration: #{$animation-time}s;
      -ms-transition-duration: #{$animation-time}s;
       -o-transition-duration: #{$animation-time}s;
          transition-duration: #{$animation-time}s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}