<div class="col-xs-12 sort-btn-section" style="margin-bottom: 15px;">
    <div class="col-md-12 ">
        <div class="btn-group sort-by-btn-group" role="group" aria-label="Basic example">
            <button type="button" data-sort-by="price" class="btn btn-default">Sort by Price</button>
            <button type="button" data-sort-by="sqft" class="btn btn-default">Sqft</button>
            <button type="button" data-sort-by="price_per_sqft" class="btn btn-default">Price/Sqft</button>
            <button type="button" data-sort-by="viewingDate" class="btn btn-default">Viewing Date</button>
            <button type="button" data-sort-by="status" class="btn btn-default">Status</button>
        </div>
    </div>
</div>
<div class="col-xs-12 filter-btn-section">
    <div class="col-md-12 ">
        <div class="btn-group filter-btn-group" role="group" aria-label="Basic example">
            <button type="button" data-filter='*' class="btn btn-default">Show all</button>
            <button type="button" data-filter='.email-true' class="btn btn-default">Email Sent</button>
            <button type="button" data-filter='.notes-true' class="btn btn-default">Has Notes</button>
            <button type="button" data-filter='.viewing-true' class="btn btn-default">Has Viewing Date</button>
        </div>
    </div>
</div>