// Place all the styles related to the apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar.navbar-inverse{
  background: transparent;
  color:#444;
  border-bottom: none;
}

.earth-container{
  height:100vh;
}
.sidebg.earth{
  position:absolute;
  bottom:0vh;
  width:60vw;
  right:0vw;
  
}
.text-primary{
  color:#7b4397;
  
}
a{
  color:#7b4397;
}