

<div class="col-md-6 col-sm-offset-3">
  <h1 class="text-center">New Apartment</h1>
    <div class="row">
        <%= render 'form', apartment: @apartment %>
    </div>
    <br>
    <div class="row">
        <%= link_to 'Cancel', apartments_path, class: "text-danger" %>
    </div>
    <br>
</div>